# Map, Reduce, Filter

In [2]:
def half(x):
    return x/2

In [3]:
l=list(range(20))

In [6]:
print([half(i) for i in l])

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5]

In [8]:
l1=[]
for i in l:
    l1.append(half(i))
print(l1)

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5]

In [9]:
map(half,l)

In [21]:
list(map(half,l[:1]))

[0.0]

In [22]:
half(l)

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [23]:
import numpy as np
import pandas as pd

In [24]:
df=pd.DataFrame([[1,2,3],[2,3,np.nan]])

In [25]:
df

   0  1    2
0  1  2  3.0
1  2  3  NaN

In [26]:
def missing_col(x):
    return x.isna().sum()

In [27]:
df.map(missing_col)

AttributeError: 'DataFrame' object has no attribute 'map'

In [40]:
df.map(half)

AttributeError: 'DataFrame' object has no attribute 'map'

In [35]:
def ff(x):
    return float(x)

In [36]:
ff(4)

4.0

In [39]:
df[0].map(half)

0    0.5
1    1.0
Name: 0, dtype: float64

In [43]:
list(map(ff,df))

[0.0, 1.0, 2.0]

In [44]:
map(half,4)

TypeError: 'int' object is not iterable

In [45]:
def llen(x):
    return len(x)

In [46]:
list(map(llen,'erty'))

[1, 1, 1, 1]

In [48]:
df.index=['mouse','cat']

In [49]:
df

       0  1    2
mouse  1  2  3.0
cat    2  3  NaN

In [50]:
df.filter(like='ouse',axis=0)

       0  1    2
mouse  1  2  3.0

In [51]:
df.filter(like='a',axis=0)

     0  1   2
cat  2  3 NaN

In [52]:
df.filter(like='ouse',axis=1)

Empty DataFrame
Columns: []
Index: [mouse, cat]

In [55]:
df.filter(items=[0,2])

       0    2
mouse  1  3.0
cat    2  NaN

In [57]:
summation = lambda a,b:a+b

In [60]:
summation(2,3)

5

In [61]:
from functools import reduce

In [62]:
reduce(summation,l)

190

In [63]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [64]:
sum(l)

190

In [ ]:
reduce()

In [66]:
def maxi(a,b):
    if a>b:
        return a
    else:
        return b

In [67]:
reduce(maxi,l)

19

In [68]:
df=pd.DataFrame(np.random.randn(4,3),columns=['a','b','c'])

In [69]:
df

          a         b         c
0  0.211528 -0.724233  0.546101
1 -0.000778 -0.609392  0.002048
2 -0.664111 -1.254821  2.494004
3 -1.573962  1.334306 -1.069489

In [70]:
df.apply(half)

          a         b         c
0  0.105764 -0.362117  0.273050
1 -0.000389 -0.304696  0.001024
2 -0.332056 -0.627410  1.247002
3 -0.786981  0.667153 -0.534745

In [71]:
df.apply(missing_col)

a    0
b    0
c    0
dtype: int64

In [72]:
def range_func(x):
    return max(x)-min(x)

In [73]:
df.apply(range_func)

a    1.785490
b    2.589127
c    3.563494
dtype: float64

In [80]:
df.apply(sum)

a   -2.027322
b   -1.254141
c    1.972663
dtype: float64

In [75]:
df.sum()

a   -2.027322
b   -1.254141
c    1.972663
dtype: float64

In [81]:
ff(4)

4.0

In [84]:
def ff(x):
    return np.ceil(x)

In [85]:
ff(4.1)

5.0

In [87]:
df.apply(ff)

     a    b    c
0  1.0 -0.0  1.0
1 -0.0 -0.0  1.0
2 -0.0 -1.0  3.0
3 -1.0  2.0 -1.0

In [88]:
df.a.apply(ff)

0    1.0
1   -0.0
2   -0.0
3   -1.0
Name: a, dtype: float64

In [89]:
df.apply(len)

a    4
b    4
c    4
dtype: int64

In [92]:
df.map(str)

AttributeError: 'DataFrame' object has no attribute 'map'

In [100]:
df.apply(str, axis=1)

0    a    0.211528\nb   -0.724233\nc    0.546101\nN...
1    a   -0.000778\nb   -0.609392\nc    0.002048\nN...
2    a   -0.664111\nb   -1.254821\nc    2.494004\nN...
3    a   -1.573962\nb    1.334306\nc   -1.069489\nN...
dtype: object

In [94]:
df.applymap(str)

                        a                    b                      c
0     0.21152811707906413  -0.7242334517192629     0.5461009171519187
1  -0.0007775894075421219  -0.6093924107418199  0.0020476205596698547
2     -0.6641111340422557   -1.254820915969063     2.4940042995732834
3     -1.5739618295858948   1.3343058877883711    -1.0694893468173008

In [95]:
df.a

0    0.211528
1   -0.000778
2   -0.664111
3   -1.573962
Name: a, dtype: float64

In [99]:
pd.Series([4]).isna()

0    False
dtype: bool

In [105]:
df.apply(str)

a    0    0.211528\n1   -0.000778\n2   -0.664111\n3...
b    0   -0.724233\n1   -0.609392\n2   -1.254821\n3...
c    0    0.546101\n1    0.002048\n2    2.494004\n3...
dtype: object

# Lambda - inline function

In [106]:
def square_fnc(x):
    return x**2

In [107]:
square=lambda x: x**2

In [108]:
square(2)

4

In [109]:
square_fnc(2)

4

In [121]:
div=lambda num, denom: num/denom if (denom!=0) else ValueError

In [123]:
div(3,1)

3.0

In [124]:
def func(x,y):
    if y!=0:
        return x/y
    else:
        None

In [125]:
func(3,2)

1.5

In [126]:
def generate_range(lower):
    return lambda upper: range(lower,upper)

In [128]:
for i in range(10):
    exec(f"""func{i}=generate_range(i)""")

In [140]:
func9(11)

range(9, 11)

In [141]:
func1=generate_range(1)
func2=generate_range(2)
func3=generate_range(3)
func4=generate_range(4)

In [142]:
list_of_topics=['MySQL','PanDas','Web-Scraping','Tableau','Machine-Learning','Neural-Nets']

In [152]:
list_of_topics=[(lambda x:x.replace('-',' '))(i) for i in list_of_topics]

In [150]:
list_of_topics.sort(reverse=True)

In [151]:
list_of_topics

['Web-Scraping',
 'Tableau',
 'PanDas',
 'Neural-Nets',
 'MySQL',
 'Machine-Learning']

In [154]:
dict_of_topics={i:len(i) for i in list_of_topics}
dict_of_topics

{'Web Scraping': 12,
 'Tableau': 7,
 'PanDas': 6,
 'Neural Nets': 11,
 'MySQL': 5,
 'Machine Learning': 16}

In [163]:
sorted(dict_of_topics.items(), key=lambda x:x[1])

[('MySQL', 5),
 ('PanDas', 6),
 ('Tableau', 7),
 ('Neural Nets', 11),
 ('Web Scraping', 12),
 ('Machine Learning', 16)]

In [164]:
df=pd.read_csv('https://ironhack.school/asset-v1:IRONHACK+DAFT+201910_PAR+type@asset+block@IMDB-Movie-Data.csv')

In [165]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [167]:
df['AvgScore']=(df.Rating+df.Metascore/10)/2

In [169]:
def custom_rating(x,y):
    """x is genre, y is score"""
    if x.str.lower().str.contains("horror"):
        return min(10,y+1)
    elif x.str.lower().str.contains("fantasy"):
        return max(0,y-1)
    else:
        return y

In [171]:
def custom_rating(x,y):
    """x is genre, y is score"""
    if "horror" in x.lower():
        return min(10,y+1)
    elif "fantasy" in x.lower():
        return max(0,y-1)
    else:
        return y

In [174]:
df['my_score']=df.apply(lambda x: custom_rating(x.Genre, x.AvgScore), axis=1)

In [175]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,AvgScore,my_score
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,7.85,7.85
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,6.75,6.75
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,6.75,7.75
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,6.55,6.55
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,5.10,4.10

In [182]:
df.loc[df.Genre.str.contains('Action')&(df.Genre.str.count(',')==1)];

In [186]:
df.loc[df.Genre.map(lambda x: ('Action' in x)&(x.count(',')==1))]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,AvgScore,my_score
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0,6.25,6.25
76,77,The Avengers,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0,7.50,7.50
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0,8.15,8.15
177,178,Tropic Thunder,"Action,Comedy","Through a series of freak occurrences, a group...",Ben Stiller,"Ben Stiller, Jack Black, Robert Downey Jr., Je...",2008,107,7.0,321442,110.42,71.0,7.05,7.05
219,220,Kick-Ass,"Action,Comedy",Dave Lizewski is an unnoticed high school stud...,Matthew Vaughn,"Aaron Taylor-Johnson, Nicolas Cage, Chloë Grac...",2010,117,7.7,456749,48.04,66.0,7.15,7.15
284,285,Hercules,"Action,Adventure","Having endured his legendary twelve labors, He...",Brett Ratner,"Dwayne Johnson, John Hurt, Ian McShane, Joseph...",2014,98,6.0,122838,72.66,47.0,5.35,5.35
285,286,Sucker Punch,"Action,Fantasy",A young girl is institutionalized by her abusi...,Zack Snyder,"Emily Browning, Vanessa Hudgens, Abbie Cornish...",2011,110,6.1,204874,36.38,33.0,4.70,3.70
286,287,Keeping Up with the Joneses,"Action,Comedy",A suburban couple becomes embroiled in an inte...,Greg Mottola,"Zach Galifianakis, Isla Fisher, Jon Hamm, Gal ...",2016,105,5.8,30405,14.90,34.0,4.60,4.60
317,318,The Stakelander,"Action,Horror",When his home of New Eden is destroyed by a re...,Dan Berk,"Connor Paolo, Nick Damici, Laura Abramsen, A.C...",2016,81,5.3,1263,NaN,NaN,NaN,10.00
344,345,Spider-Man 3,"Action,Adventure",A strange black entity from another world bond...,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th...",2007,139,6.2,406219,336.53,59.0,6.05,6.05
368,369,The Amazing Spider-Man,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0,6.80,6.80
390,391,Keanu,"Action,Comedy",When an L.A. drug kingpin's kitten unexpectedl...,Peter Atencio,"Keegan-Michael Key, Jordan Peele, Tiffany Hadd...",2016,100,6.3,31913,20.57,63.0,6.30,6.30
410,411,Taken,"Action,Thriller",A retired CIA agent travels across Europe and ...,Pierre Morel,"Liam Neeson, Maggie Grace, Famke Janssen, Lela...",2008,93,7.8,502961,145.00,50.0,6.40,6.40
446,447,Dredd,"Action,Sci-Fi","In a violent, futuristic city where the police...",Pete Travis,"Karl Urban, Olivia Thirlby, Lena Headey, Rache...",2012,95,7.1,213764,13.40,59.0,6.50,6.50
453,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,98.90,41.0,5.30,5.30
624,625,Taken 3,"Action,Thriller",Ex-government operative Bryan Mills is accused...,Olivier Megaton,"Liam Neeson, Forest Whitaker, Maggie Grace,Fam...",2014,109,6.0,144715,89.25,26.0,4.30,4.30
674,675,War on Everyone,"Action,Comedy",Two corrupt cops set out to blackmail and fram...,John Michael McDonagh,"Alexander Skarsgård, Michael Peña, Theo James,...",2016,98,5.9,9285,NaN,50.0,5.45,5.45
766,767,Ender's Game,"Action,Sci-Fi",Young Ender Wiggin is recruited by the Interna...,Gavin Hood,"Harrison Ford, Asa Butterfield, Hailee Steinfe...",2013,114,6.7,194236,61.66,NaN,NaN,NaN
777,778,Final Girl,"Action,Thriller",A man teaches a young woman how to become a co...,Tyler Shields,"Abigail Breslin, Wes Bentley, Logan Huffman,Al...",2015,90,4.7,9026,NaN,56.0,5.15,5.15
837,838,You Don't Mess with the Zohan,"Action,Comedy",An Israeli Special Forces Soldier fakes his de...,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",2008,113,5.5,163144,100.02,54.0,5.45,5.45
844,845,Unstoppable,"Action,Thriller","With an unmanned, half-mile-long freight train...",Tony Scott,"Denzel Washington, Chris Pine, Rosario Dawson,...",2010,98,6.8,157499,81.56,69.0,6.85,6.85
872,873,Red Dawn,"Action,Thriller",A group of teenagers look to save their town f...,Dan Bradley,"Chris Hemsworth, Isabel Lucas, Josh Hutcherson...",2012,93,5.4,64584,44.80,31.0,4.25,4.25
923,924,No Escape,"Action,Thriller","In their new overseas home, an American family...",John Erick Dowdle,"Lake Bell, Pierce Brosnan, Owen Wilson,Chatcha...",2015,103,6.8,57921,27.29,38.0,5.30,5.30