<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Finance-Data-Import" data-toc-modified-id="Finance-Data-Import-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Finance Data Import</a></span></li></ul></div>

In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.chdir('../../Slides/vehicles/vehicles')

In [7]:
df_csv=pd.read_csv('vehicles.csv')

In [8]:
df_csv.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [12]:
df_tab=pd.read_csv('vehicles_tab.txt', sep='\t')

In [16]:
df_pipe=pd.read_csv('vehicles_pipe.txt', sep='|')
df_pipe.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [18]:
df_tab.to_csv('vehicles_transformed.txt', sep=' ', index=False)

In [20]:
df=pd.read_excel('vehicles.xlsx')

In [21]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [22]:
df=pd.read_json('vehicles.json')

In [23]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [24]:
df.to_json('new_json.json',orient='values')

In [25]:
import pymysql

In [26]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\eldiy\anaconda3\lib\site-packages (0.9.3)

In [27]:
from sqlalchemy import create_engine

In [51]:
username='root'
host='127.0.0.1:3306'
database_name='publications2'

In [59]:
engine=create_engine(f"""mysql+pymysql://{username}:{password}@{host}/{database_name}""")

In [60]:
df=pd.read_sql_query('select * from sales', engine)

In [61]:
df.head()

  stor_id   ord_num   ord_date  qty    payterms title_id
0    6380      6871 1994-09-14    5      Net 60   BU1032
1    6380      722a 1994-09-13    3      Net 60   PS2091
2    7066     A2976 1993-05-24   50      Net 30   PC8888
3    7066  QA7442.3 1994-09-13   75  ON invoice   PS2091
4    7067     D4482 1994-09-14   10      Net 60   PS2091

# Finance Data Import

In [63]:
os.chdir('../../../../../Downloads/czech/')

In [64]:
os.listdir()

['account.asc',
 'berka.pdf',
 'card.asc',
 'client.asc',
 'disp.asc',
 'district.asc',
 'loan.asc',
 'order.asc',
 'trans.asc']

In [81]:
database_name='czech'

In [82]:
engine=create_engine(f"""mysql+pymysql://{username}:{password}@{host}/{database_name}""")

In [68]:
l=[]
for i in os.listdir():
    if i.endswith('.asc'):
        l.append(pd.read_csv(i,sep=';'))

C:\Users\eldiy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [75]:
l={i[:-4]:pd.read_csv(i, sep=';') for i in os.listdir() if i.endswith('asc')}

C:\Users\eldiy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [74]:
i[:-3]

'trans.'

In [76]:
for i,j in l.items():
    j.to_sql(i, engine, index=False, if_exists='replace')

In [77]:
?df.to_sql

In [79]:
l['trans'].shape

(1056320, 10)

In [83]:
df=pd.read_sql_query("""select district_id, ml.amount as total from account
inner join (select account_id, k_symbol, amount from czech.order where k_symbol='UVER') as ml
on ml.account_id=account.account_id""", engine)

In [97]:
df.groupby('district_id').median().sort_values(by='total', ascending=False).head(5)

              total
district_id
22           7240.0
30           6412.0
66           6315.0
69           5802.3
67           5757.5